.mainh1 {
    margin-top: 20px;
    padding: 20px 0px 0px 50px;
}
.mainimg {
    margin: 0px 30px 20px 0px;
    width: 900px;
}

*, figure {
    margin: 0;
    padding: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.name-area {
    background-color: #d45552;
    padding: 5px;
    text-align: center;
    color: #fff;
}
.comn-area .user-img-area {
    display: block;
    width: 100%;
    text-align: center;
}
.head-area {
    padding: 5px;
    text-align: center;
    color: #fff;
}
.designation-area{
    text-align: center;
}

.example-list .example-box {
    margin-bottom: 10px;
    display: block;
    background-color: #fff;
    padding: 5px 10px 5px 20px;
    border: 1px solid #ccc;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}